<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark morpheus-den-gradient">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">Watch List</a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
  
      </ul>
      <ul class="nav navbar-nav navbar-right nav-link mr-auto">
        {% if current_user.is_authenticated %}
        <li><a href="{{url_for('main.profile',uname=current_user.username)}}" style="color: white">Profile</a></li>
        <li><a href="{{url_for('auth.logout')}}" style="color: white">Sign out</a></li>
        {% else %}
        <li><a href="{{url_for('auth.login')}}" style="color: white">Sign in</a></li>
        {%endif%}
    </ul>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->
  

